<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.flyingeffects.com">


    <!--悬浮窗权限-->
    <!--    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />-->
    <uses-permission android:name="android.permission.FLASHLIGHT" /><!--压力测试 -->

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <!--<uses-permission android:name="android.permission.RECORD_AUDIO" />-->
    <!--读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--读取联系人权限，上传联系人需要用到此权限 -->
    <!--<uses-permission android:name="android.permission.READ_CONTACTS" />-->
    <!--外存储写权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--外存储读权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--    &lt;!&ndash;配置权限，用来记录应用配置信息 &ndash;&gt;-->
    <!--    <uses-permission android:name="android.permission.WRITE_SETTINGS" />-->
    <!--手机定位信息，用来为语义等功能提供定位，提供更精准的服务-->
    <!--定位信息是敏感信息，可通过Setting.setLocationEnable(false)关闭定位请求 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--如需使用人脸识别，还要添加：摄相头权限，拍照需要用到 -->
    <!--<uses-permission android:name="android.permission.CAMERA" />-->
    <!--讯飞end-->

    <!-- SD卡读取权限，用户写入离线定位数据-->
    <!--<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />-->
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!--闪验-->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!--apk 安装权限-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!--广告 以下权限用于精准推广，不强制获取，但是没有以下权限可能会造成部分广告填充失败，导致ecpm降低-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--禁止息屏-->
    <uses-permission android:name="android.permission.DEVICE_POWER"
        tools:ignore="ProtectedPermissions" />

    <!--震动权限-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--华为obs提示的-->
    <uses-permission android:name="android.permission.GET_TOP_ACTIVITY_INFO"
        tools:ignore="ProtectedPermissions" />


    <application
        android:name="com.flyingeffects.com.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/launcher"
        android:usesCleartextTraffic="true"
        tools:replace="android:name,android:icon">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />  <!--兼容9.0  使用http时奔溃，android p要求全部走https ，解决瑰珀sdk奔溃问题-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.flyingeffects.com.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.flyingeffects.com.ui.view.activity.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">


            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <activity
            android:name="com.flyingeffects.com.ui.view.activity.ChooseBackgroundTemplateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateVisible|adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.flyingeffects.com.ui.view.activity.DressUpPreviewActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.flyingeffects.com.ui.view.activity.AdHintActivity"
            android:theme="@style/AllTransparentTheme" />


        <activity
            android:name="com.flyingeffects.com.ui.view.activity.LocalMusicTailorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.flyingeffects.com.ui.view.activity.ContentAllianceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />




        <activity
            android:name="com.flyingeffects.com.ui.view.activity.SystemMessageDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.flyingeffects.com.ui.view.activity.TemplateAddStickerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>

        <activity
            android:name="com.flyingeffects.com.ui.view.activity.ReportActivity"
            android:theme="@style/AllTransparentTheme" />

        <activity
            android:name="com.flyingeffects.com.ui.view.activity.CommentBlackActivity"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/AllTransparentTheme" />

        <activity
            android:name="com.flyingeffects.com.ui.view.activity.ChooseMusicActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AllTransparentTheme" />


        <activity
            android:name="com.flyingeffects.com.ui.view.activity.EditInformationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:theme="@style/AllTransparentTheme" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.flyingeffects.com.ui.view.activity.MessageLongClickActivity"
            android:theme="@style/AllTransparentTheme" />

        <activity
            android:name="com.flyingeffects.com.ui.view.activity.PreviewUpAndDownActivity"
            android:configChanges="orientation"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.flyingeffects.com.ui.view.activity.UserHomepageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.flyingeffects.com.ui.view.activity.CreationTemplatePreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.flyingeffects.com.ui.view.activity.VideoCropActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />


        <!--        Theme.Translucent.NoTitleBar.Fullscreen-->
        <activity
            android:name="com.flyingeffects.com.ui.view.activity.intoOtherAppActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <activity
            android:name="com.flyingeffects.com.ui.view.activity.HomeMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.flyingeffects.com.ui.view.activity.UpdateApkActivity"
            android:theme="@style/TransparentTheme" />

        <activity
            android:name="com.flyingeffects.com.ui.view.activity.searchMusicActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.flyingeffects.com.ui.view.activity.CreationTemplateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>

        <activity
            android:name="com.flyingeffects.com.ui.view.activity.TemplateSearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.flyingeffects.com.ui.view.activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.flyingeffects.com.ui.view.activity.UploadMaterialActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.flyingeffects.com.ui.view.activity.AboutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.flyingeffects.com.ui.view.activity.webViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.flyingeffects.com.ui.view.activity.SignoutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.flyingeffects.com.ui.view.activity.TemplateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.flyingeffects.com.ui.view.activity.TemplateCutVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.activity.privacyPolicyActivity"
            android:exported="false"
            android:theme="@style/TransparentTheme" />

        <activity
            android:name=".ui.view.activity.PraiseActivity"
            android:exported="false"
            android:theme="@style/AllTransparentTheme" />

        <activity
            android:name=".ui.view.activity.FansActivity"
            android:exported="false"
            android:theme="@style/TransparentTheme" />

        <activity
            android:name=".ui.view.activity.MineFocusActivity"
            android:exported="false"
            android:theme="@style/TransparentTheme" />

        <activity
            android:name=".ui.view.activity.LikeActivity"
            android:exported="false"
            android:theme="@style/TransparentTheme" />

        <activity
            android:name=".ui.view.activity.ZanActivity"
            android:exported="false"
            android:theme="@style/TransparentTheme" />

        <activity
            android:name="com.flyingeffects.com.ui.view.activity.VideoClippingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />



        <!--铠甲广告配置Start-->
        <activity
            android:name="com.kaijia.adsdk.activity.AppActivity"
            android:configChanges="screenSize|keyboard|keyboardHidden|orientation" />
        <provider
            android:name="com.kaijia.adsdk.provider.kjFileProvider"
            android:authorities="${packageName}.kj.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/kj_file_paths" />
        </provider>
        <service android:name="com.kaijia.adsdk.service.DownloadService"/>
        <!--铠甲广告配置End-->



        <!-- 广告开始  广点通配置Start-->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
                <provider
                    android:name="com.qq.e.comm.GDTFileProvider"
                    android:authorities="${applicationId}.fileprovider"
                    android:exported="false"
                    android:grantUriPermissions="true">
                    <meta-data
                        android:name="android.support.FILE_PROVIDER_PATHS"
                        android:resource="@xml/gdt_file_path" />
                </provider>
<!--        <service-->
<!--            android:name="com.qq.e.comm.DownloadService"-->
<!--            android:exported="false" />-->

<!--        <activity-->
<!--            android:name="com.qq.e.ads.ADActivity"-->
<!--            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />-->

<!--        <activity-->
<!--            android:name="com.qq.e.ads.PortraitADActivity"-->
<!--            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"-->
<!--            android:screenOrientation="portrait" />-->

<!--        <activity-->
<!--            android:name="com.qq.e.ads.LandscapeADActivity"-->
<!--            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"-->
<!--            android:screenOrientation="landscape" />-->
        <!--广点通配置End-->
        <!--今日头条配置Start-->
        <provider
            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
            android:authorities="${applicationId}.TTFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/tt_file_path" />
        </provider>
        <provider
            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
            android:authorities="${applicationId}.TTMultiProvider"
            android:exported="false" />
        <!--今日头条配置End-->
        <!--百度配置Start-->
        <activity
            android:name="com.baidu.mobads.AppActivity"
            android:configChanges="screenSize|keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <provider
            android:name="com.baidu.mobads.openad.BdFileProvider"
            android:authorities="${packageName}.bd.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/bd_file_path" />
        </provider>
        <!-- 广告所有配置结束  百度配置End-->


        <!--友盟微信登录-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--闪验登录 start-->
        <activity
            android:name="com.chuanglan.shanyan_sdk.view.CmccLoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/dialogStyle" />

        <activity-alias
            android:name="com.cmic.sso.sdk.activity.LoginAuthActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:targetActivity="com.chuanglan.shanyan_sdk.view.CmccLoginActivity"
            android:theme="@style/dialogStyle" />

        <activity
            android:name="com.chuanglan.shanyan_sdk.view.ShanYanOneKeyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/dialogStyle" />
        <activity
            android:name="com.chuanglan.shanyan_sdk.view.CTCCPrivacyProtocolActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:theme="@style/dialogStyle" />

        <!--闪验登录 end-->


        <!-- Since JCore2.0.0 Required SDK核心功能-->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service
            android:name="com.flyingeffects.com.manager.jPush.PushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>


        <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name="com.flyingeffects.com.manager.jPush.PushMessageReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.flyingeffects.com" />
            </intent-filter>
        </receiver>

        <!--  抖音分享相关 -->
        <activity
            android:name=".bdopen.BdEntryActivity"
            android:exported="true" />
        <receiver android:name=".bdopen.DouYingBroadcast">
            <intent-filter>
                <action android:name="com.aweme.opensdk.action.stay.in.dy" />
            </intent-filter>
        </receiver>

    </application>

</manifest>